*{
    margin: 0;
    padding: 0;
}
.nav{
    background-color: black;
    padding-top: 23px;
    height:60px
   
}
/* ul{
   
    display: flex;
    padding-left:149px;
    padding-bottom: 30px;
    /* padding-top: 30px;
} */

li{
 color:#FFFFFF;
 list-style: none;
font-family: 'Plus Jakarta Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
margin-right: 50px;
line-height: 23px;
text-transform: capitalize;
}
.logo img{
   /* nya-logo 1 */

position: absolute;
width: 36px;
height: 34px;
left: calc(50% - 36px/2 - 80px);
top: 37px;

/* background: url(nya-logo.png); */

   
}

.logo p{
    /* Nya Labs */

position: absolute;
width: 148px;
height: 24px;
left: calc(50% - 148px/2 + 23px);
top: 42px;

font-family: 'Monument Extended';
font-style: normal;
font-weight: 800;
font-size: 22.365px;
line-height: 24px;
text-transform: uppercase;

background: linear-gradient(144.6deg, #FFF9D7 4.73%, #FFFFFF 79.23%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;


    /* color:#FFFFFF;
    display: inline-flex;
    margin-left: 20px; */
    /* padding-bottom: 300px; */
    
}
.login button{
    width:139px;
    height:52px;
    top: 28px;
    left: 1151px;
    border-radius: 5px;
    background-image: linear-gradient(to right, #2CD8D5,#C5C1FF, #FFBAC3
    );
    
}
.login{
  padding-right: 51px;
 font-family: Plus Jakarta;
 font-style: bold;
 font-size: 18px;
 line-height: 100%;
 align-items: center;
 vertical-align:top;
}
.market{
    /* Marketplace */

position: absolute;
width: 101px;
height: 23px;
left: calc(50% - 101px/2 - 520.5px);
top: 42px;

font-family: 'Plus Jakarta Display';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
text-transform: capitalize;

color: #FFFFFF;


}
.faq{
    /* FAQ */

position: absolute;
width: 38px;
height: 23px;
left: calc(50% - 38px/2 - 299px);
top: 42px;

font-family: 'Plus Jakarta Display';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 23px;
text-transform: capitalize;

color: #FFFFFF;


}
.about{
    /* About */

position: absolute;
width: 52px;
height: 23px;
left: calc(50% - 52px/2 - 394px);
top: 42px;

font-family: 'Plus Jakarta Display';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
text-transform: capitalize;

color: #FFFFFF;


}