.new{
    /* A NEW WORLD OF EXPERIENCES */
position: absolute;
width: 1141px;
height: 230px;
left: calc(50% - 1141px/2 - 0.5px);
top: 1012px;
font-family: 'Monument Extended';
font-style: normal;
font-weight: 800;
font-size: 96px;
line-height: 115px;
display: flex;
align-items: flex-end;
text-align: center;
background-color: #000000;
color: #FFFFFFFF;


}