.btn{
    /* Rectangle 1794 */

position: absolute;
width: 199px;
height: 57px;
left: 619px;
top: 601px;
color: black;
background: #FFFFFF;
border-radius: 5px;

}
button{
    /* Start now */

/* position: absolute; */
width: 88px;
height: 23px;
left: 674px;
top: 618px;

font-family: 'Plus Jakarta Display';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 23px;
text-align: center;
text-transform: capitalize;

color: #000000;


}